html, body, #app{
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: serif;
}

a{
  color: #aaa;
  text-decoration: none;
}
a:hover{
  color: #eee;
  text-decoration: double;
}