@import "./base.css";

#clock-wrapper {
  display: flex;

  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  background-color: hsl(0, 33%, 41%);
}
#clock-wrapper.tick {
  background-color: hsl(0, 55%, 41%);
}
#clock-wrapper.tack {
  background-color: hsl(0, 45%, 41%);
}

#clock{
  display: inline-block;

  color: beige;
  font-size: 6rem;

  cursor: pointer;
}

#footer{
  position: absolute;
  bottom: 0;

  width: 100%;
  box-sizing: border-box;

  padding: 0.1rem;
  padding-right: 0.5rem;

  color: #333;
  text-align: right;
  font-size: 0.8rem;
  text-transform: lowercase;
}